<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <th:block th:replace="~{layout :: head('Управление пользователями')}"></th:block>
</head>
<body>
  <div class="container">
    <header th:replace="~{layout :: header}"></header>

    <div class="full-wrapper">

      <div class="content">
        <div th:each="user : ${users}">
          <!--/*@thymesVar id="user" type="com.alamega.alamegaspringapp.user.User"*/-->
          <div th:if="${#authentication.principal.username} != ${user.getUsername()}" class="user-card">
            <p>ID: <span th:text="${user.getId()}"></span></p>
            <p>
              Ник:<a th:text="${user.getUsername()}" th:href="@{'/users/'+${user.getUsername()}}"></a>
              Роль:
              <th:block th:switch="${user.getRole()}">
                  <span th:case="'ADMIN'" style="color: red">Администратор</span>
                  <span th:case="'USER'" style="color: green">Пользователь</span>
                  <span th:case="*">Чёрт бородатый</span>
              </th:block>
            </p>
            <form style="width: 100%" th:action="@{'/admin/users/role/'+${user.getId()}}" method="post">
              <button class="button-green" style="width: 100%; padding: 8px">Сменить роль</button>
            </form>
            <form style="width: 100%" th:action="@{'/admin/users/delete/'+${user.getId()}}" method="post">
              <button class="button-delete" style="margin:0; width: 100%">Удалить</button>
            </form>
          </div>
        </div>
      </div>

      <div class="sidebar">
        <div th:replace="~{layout :: sidebar}"></div>
      </div>
    </div>

    <footer th:replace="~{layout :: footer}"></footer>
  </div>
</body>
</html>
