<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<!--/*@thymesVar id="pageOwner" type="com.alamega.alamegaspringapp.user.User"*/-->
<!--/*@thymesVar id="currentUser" type="com.alamega.alamegaspringapp.user.User"*/-->
<!--/*@thymesVar id="posts" type="com.alamega.alamegaspringapp.post.Post[]"*/-->
<head>
    <th:block th:replace="~{layout :: head(${pageOwner.getUsername()})}"></th:block>
</head>
<body>

<div class="container">
    <header th:replace="~{layout :: header}"></header>

    <div class="full-wrapper">
        <div class="content">
            <p class="title-green" th:text="${pageOwner.getUsername()}"></p>
            <div th:switch="${pageOwner.getRole}">
                <p>
                    Роль:
                    <span th:case="'ADMIN'" style="color: red">Администратор</span>
                    <span th:case="'USER'" style="color: green">Пользователь</span>
                    <span th:case="*">Чёрт бородатый</span>
                </p>
            </div>
        </div>
        <div class="sidebar">
            <div th:replace="~{layout :: sidebar}"></div>
        </div>
    </div>

    <footer th:replace="~{layout :: footer}"></footer>
</div>
</body>
</html>
